/* Advanced Portfolio 
    timestamp: DarkMode 00:00 */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  background-color: white;
  margin: 0 auto;
}

.row {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-around;
  padding: 0 0 20px 0;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.6);
}

.highlight {
  color: #f23c27;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: lightgray;
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

.link__hover--white {
  background-color: white;
}

.link__hover--black {
  background-color: black;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.2;
  }
}

#box-art {
  width: 75%;
  position: absolute;
  animation: fadeInOut 5s ease-in-out infinite;
  right: 7px;
  bottom: 220px;
  display: block;
  z-index: -110;
}

#hero-art {
  padding-top: 550px;
  left: 122px;
  width: 100%;
  max-width: 1000px;
  position: absolute;
  opacity: 0.4;
  top: -150px;
  left: 107px;
  display: block;
  z-index: -10;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

/* 

  LANDING PAGE

*/

#landing-page {
  min-height: 100vh;
  max-width: 1200px;
}

.header {
  position: absolute;
  text-align: center;
  top: 110px;
  width: 100%;
  max-width: 420px;
}

.marvelDex {
  position: absolute;
  width: 100%;
  opacity: 5;
  padding: 25px 0 0 0;
  top: 150px;
}

.container {
  padding: 50px 0;
  width: 100%;
}

#marvel__container {
  max-width: 900px;
  /* padding: 200px 50px 0 65px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  z-index: 10;
  background-color: red;
}

.grey-box {
  width: 300px;       /* Width of the box */
  height: 150px;      /* Height of the box */
  background-color: grey; /* Background color */
  border: 1px solid black; /* Optional: Add a border */
  margin: 20px auto; /* Center the box horizontally */
  display: flex; /* Optional: Flexbox for alignment */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white; /* Text color */
  position: absolute;
  top: 325px;
  opacity: .8;
  z-index: 1;
  display: none;
}

/* 

  NAVIGATION 

*/

nav {
  background-color: rgb(71, 71, 71);
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 72px;
  border: 3px solid #d4443f;
  border-top: none;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 0 80px 0 rgb(0, 0, 0, 0.45);
  z-index: 1000;
}

#marvel-logo {
  margin-left: 8px;
  width: 82px;
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: white;
  font-weight: 700;
}

/* 

  STAN APP PREVIEW SECTION 

*/

.title__text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 62px 0 8px 0;
}

#message {
  text-align: center;
  padding: 0 0 22px 0;
}

#footer {
 flex-wrap: wrap;
 position: absolute;
 bottom: 0;
 left: 10px;
}

/* 

  FOOTER 

*/

footer {
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 82px;
}

.footer__social--list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 26px 0;
}

.footer__social--link,
.footer__copyright {
  color: white;
}

/* tables, large smart phones */

@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 20px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .project__img {
    transform: scale(1.03);
  }
  .modal__half {
    width: 100%;
  }
  .input {
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
  }
  #box-art {
    width: 100%;
    bottom: 100px;
  }
  #hero-art {
    align-items: center;
    left: 0px;
  }
}

/* small phones */

@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .header__para {
    font-size: 18px;
  }
  .nav__link:first-child {
    display: none;
  }
  .project__description--para {
    display: none;
  }
  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .project__description--sub-title {
    margin-bottom: 0;
  }
  .project__img {
    transform: scale(1.05);
  }
  .modal__half {
    padding: 40px;
  }
  #box-art {
    width: 132%;
    left: 9px;
    bottom: 172px;
  }
 }